[Desktop Entry]
Type=Application
Name=Vermouth
GenericName=Game & App Launcher
Comment=Native, Windows, and retro game launcher for Linux
Exec=vermouth %U
Icon=com.dekomote.vermouth
Terminal=false
Categories=Game;Utility;
Keywords=wine;proton;gaming;launcher;retroarch;romm;retro;native;
MimeType=application/x-ms-dos-executable;
StartupNotify=true
