pkgbase = vermouth
	pkgdesc = A game and app launcher for Linux - native, Windows, and retro
	pkgver = 1.6.3
	pkgrel = 1
	url = https://github.com/dekomote/vermouth
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	makedepends = extra-cmake-modules
	makedepends = sdl2
	depends = qt6-base
	depends = qt6-declarative
	depends = kirigami
	depends = ki18n
	depends = kcoreaddons
	depends = qqc2-desktop-style
	optdepends = icoutils: Windows icon extraction
	optdepends = sdl2: gamepad support
	provides = vermouth
	conflicts = vermouth
	source = vermouth-1.6.3.tar.gz::https://github.com/dekomote/vermouth/archive/refs/tags/v1.6.3.tar.gz
	sha256sums = 499d97ad696eeaaa692f31b2bc656bea782f247b3deb64a13a60a46a53aacec5

pkgname = vermouth
